.search-input {
  height: 30px;
  width: 350px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  /* margin: 0 auto; */
  /* padding: 1.5rem 2rem; */
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  display: block;
  transition: all 0.3s;
  border-width: 1px;
  border-color: rgb(196, 196, 196);
}
.search-input:hover {
  background-color: rgb(238, 238, 238);
}

.search-input:active {
  width: 400px;
}

.search-input::-webkit-input-placeholder {
  padding-left: 5px;
  font-size: 15px;
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(174, 174, 174);
  cursor: pointer;
  margin: 0 20px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgb(233, 233, 233);
}

.search-widget {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
